body {
  text-align: center;
  background-image: url(1.png);
  background-size: cover;
  color: white;
}

a {
  background-color: #81ffd9;
  color: white;
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 30px;
}

a:hover {
  background-color: transparent;
  color: #81ffd9;
  border: solid 5px #81ffd9;
  transition: all 0.5s;
  display: inline-block;
}
